---
import Layout from "../layouts/Layout.astro";
import Lanyard from "../components/Lanyard";
import Projects from "../components/Projects";
import Technologies from "../components/Technologies";
---

<Layout
  title="Hey, I'm  Arjun"
  description="A software engineer from Delhi, India."
>
  <div class="my-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
    <div
      class="flex flex-col items-stretch rounded-3xl border border-white/10 bg-white/5 sm:col-span-2 sm:flex-row"
    >
      <img
        src="https://images-ext-1.discordapp.net/external/ScluVBHYTcSiWZktGaSbutWBYeVOy1dZAk7-5uNlW4o/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/1225293839498084404/c3c2adad10f88df4643a1e6a52f13cca.png?format=webp&quality=lossless&width=486&height=486"
        alt="arjun's avatar"
        class="ml-5 mt-5 max-w-[175px] rounded-3xl object-contain object-center sm:ml-0 sm:mt-0 sm:rounded-none sm:rounded-l-3xl sm:object-cover"
      />
      <div class="flex flex-col p-5 sm:justify-evenly">
        <div>
          <div class="text-5xl font-bold tracking-tight sm:text-6xl">
            <span>Hey, I&apos;m</span>
            <span
              class="bg-gradient-to-r from-[#9b2d3b] via-[#7a1f32] to-[#6b1c2e] bg-clip-text text-transparent"

            >
              arjun
            </span>
          </div>
        </div>
        <p class="mt-3">
          Hi, I'm Arjun from Haryana. I'm currently a student and a freelance video editor. Outside of work, I casually play basketball

        </p>
      </div>
    </div>

    <div>
      <Technologies client:load />
    </div>

    <div class="min-h-[200px]">
      <Lanyard client:load />
    </div>

    <div
      class="rounded-3xl border border-white/10 bg-white/5 p-5 sm:col-span-2"
    >
      <h1 class="text-3xl font-bold">Join /satisfy on discord</h1>
      <p class="mt-3">
        While I haven't built many public projects yet, I manage an amazing Discord server called 
        <a
          href="https://discord.gg/satisfy"
          class="text-yellow-400 underline underline-offset-4"
          target="_blank"
        >
          Satisfy
        </a>. 
        It’s a vibrant place where people come together to connect, chill, and have fun. 
        Below, you can learn more about it.
      </p>
      <div class="mt-5">
        <Projects client:load />
      </div>
        </div>
  </div>
</Layout>
